.place__paragraph {
    font-weight: 400;
    font-size: 18px;
    line-height: 29px;
    margin: 0;
    grid-area: paragraph;
  }
  
  .place__paragraph:nth-child(2) {
    margin: 26px 0 0;
  }
  
  @media screen and (max-width: 900px) {
    .place__paragraph {
      font-size: 16px;
      line-height: 26px;
    }
  
    .place__paragraph:nth-child(2) {
      margin: 25px 0 0;
    }
  }

  @media screen and (max-width: 650px) {
    .place__paragraph {
      padding: 0 16px;
    }
  }