.lead__caption{
    font-weight: 400;
    font-size: 9px;
    line-height: 14px;
    letter-spacing: 2px;
    text-transform: uppercase;
    align-self: flex-start;
    margin: 8px 0 0;
    max-width: 158px;
}

@media screen and (max-width: 768px) {
    .lead__caption{
        margin: 8px 24px 0;
    }
}

@media screen and (max-width: 320px) {
    .lead__caption{
        margin: 8px 16px 0;
    }
}